.login-pane {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

.register-pane {
    -fx-background-color: #e0e0e0; /* Couleur de fond */
}

.login-button {
    -fx-background-color: #4CAF50; /* Vert */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.register-button {
    -fx-background-color: #2196F3; /* Bleu */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-opacity: 0.8; /* Légère transparence au survol */
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.password-field {
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}